<section class="bg-indigo-dark h-50">
  <div class="container mx-auto -ml-4">
    <nav class="flex">
      <button
        class="
          bg-indigo-500
          text-gray-100
          p-2
          m-4
          rounded-full
          font-semibold font-display
          focus:outline-none
          focus:shadow-outline
          hover:cursor-pointer
          shadow-md
          uppercase
          text-center
        "
        (click)="showDayNews()"
      >
        Noticias Recientes
      </button>
      <button
        class="
          bg-indigo-500
          text-gray-100
          p-2
          m-4
          rounded-full
          font-semibold font-display
          focus:outline-none
          focus:shadow-outline
          hover:cursor-pointer
          shadow-md
          uppercase
          text-center
        "
        (click)="showWeekNews()"
      >
        Últimos 7 Días
      </button>
    </nav>
  </div>
</section>
